[Unit]
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=chillipi
Group=chillipi
WorkingDirectory=/opt/chillipi
ExecStart=/usr/local/bin/flask run --host=0.0.0.0