{% extends "base.html" %}


{% block content %}

<table class="table table-sm table-striped">
    <tr>
        <th>Output (#)</th>      
        <th>Output (name)</th>
        <th>Command</th>
        
    </tr>

    {% for output in outputs %}
    <tr>

                                
            
            <td>
                <input type="text" id="output_number" value={{ output['output'] }} readonly>
            </td>          
            
            <td>

            <form action="/settings/change_name/{{ output['output'] }}" method="POST">
                <input type="text" name="output_name" value={{ output['name'] }}
                minlength="1" maxlength="20">
                <input type="submit" value="submit">
            </form>  

            </td>

        <td>
            
            <form action="/settings/add_command/{{ output['output'] }}" method="POST">
                
                <input type="time" name="time">
                                
                <select name="command" >
                    <option value="on">on</option>
                    <option value="off">off</option>
                    <option value="periodic">periodic</option>
                 </select>
                
                 <input type="text" id="time_on" name="time_on" size="2" maxlength="4">             
                                
                 <input type="text" name="time_off" id="time_off" size="2" maxlength="4">
                              
                 <input name ='submit' type="submit" value="submit">
                                
                <input name="clear_all" type="submit" value="clear_all"
            



            </form>             
        
            <table>
                <tr>
                    <th>time</th>      
                    <th>command</th>
                    <th>time_on</th>
                    <th>time_off</th>
                </tr>

            {% for command in schedule %}               
            {% if command['output'] == output['output']%}
            
                {% if command['day'] == yesterday %}
                    
                   
                        <tr>
                            <td>{{command['time']}}</td>
                            <td>{{command['command']}}</td>
                            <td>{{command['time_on']}}</td>
                            <td>{{command['time_off']}}</td>
                        </tr>
                    
                
                    {% endif %}

            {% endif %}



        {% endfor %}
    
        </table>

        </td>


    </tr>
    {% endfor %}

  

</table>



{% endblock %}


